@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.8rem;
}

p {
  font-size: 1.01rem;
}

.main_title {
  text-align: center;
  margin-bottom: 3rem;
}

a {
  color: #202020;
}

.btn_cv {
  cursor: pointer;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.hamburger-menu {
  display: none;
}

/*----------------------------------------------------------*/
#container__nav {
  position: fixed;
  background-color: #14e58e;
  color: white;
  padding: 15px 60px;
  width: 100%;
  z-index: 1;
}

#container__nav .nav__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container__nav .nav__bar a {
  margin-left: 2.3em;
  color: white;
  font-weight: 500;
}

#container__nav .nav__bar a:hover {
  color: #1a2e1a;
}

#container__nav .logo {
  font-size: 1.8rem;
}

#main__apr {
  visibility: hidden;
}

#main__apr {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 20px;
}

#main__apr .perfil {
  height: 20rem;
  width: 100%;
  -webkit-transition: -webkit-transform .75s;
  transition: -webkit-transform .75s;
  transition: transform .75s;
  transition: transform .75s, -webkit-transform .75s;
}

#main__apr .perfil:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

#main__apr .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.2rem;
  gap: 0.4em;
  color: #393939;
}

#main__apr .uil {
  -webkit-transition: -webkit-transform .75s;
  transition: -webkit-transform .75s;
  transition: transform .75s;
  transition: transform .75s, -webkit-transform .75s;
  cursor: pointer;
}

#main__apr .uil:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #09e16a;
  border-radius: 10px;
  color: white;
}

#main__apr .apr p {
  margin-bottom: 30px;
  font-size: 1rem;
}

#main__apr .button__main span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 180px;
  height: 55px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#main__apr .button__main span a {
  font-size: 19px;
  letter-spacing: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-25px);
          transform: translateZ(-25px);
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  font-family: 'Montserrat', sans-serif;
}

#main__apr .button__main span a:before,
#main__apr .button__main span a:after {
  position: absolute;
  content: "Ver mais";
  height: 55px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

#main__apr .button__main span a:before {
  color: #fff;
  background: #09E16B;
  -webkit-transform: rotateY(0deg) translateZ(25px);
          transform: rotateY(0deg) translateZ(25px);
}

#main__apr .button__main span a:after {
  content: "Vamos!";
  color: #000;
  -webkit-transform: rotateX(90deg) translateZ(25px);
          transform: rotateX(90deg) translateZ(25px);
}

#main__apr .button__main span a:hover {
  -webkit-transform: translateZ(-25px) rotateX(-90deg);
          transform: translateZ(-25px) rotateX(-90deg);
}

#portifolio {
  height: 150vh;
  width: 100%;
  margin-bottom: 5em;
}

#portifolio .title {
  margin-bottom: 50px;
}

#portifolio .projetos_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
  width: 90%;
  height: 70vh;
  margin: 0 auto;
}

#portifolio .projetos_main .card_projeto {
  height: 500px;
  width: 400px;
  padding: 10px;
  -webkit-transition: -webkit-transform .20s;
  transition: -webkit-transform .20s;
  transition: transform .20s;
  transition: transform .20s, -webkit-transform .20s;
  cursor: pointer;
}

#portifolio .projetos_main .card_projeto .img_proj {
  height: auto;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-transition: -webkit-transform .75s;
  transition: -webkit-transform .75s;
  transition: transform .75s;
  transition: transform .75s, -webkit-transform .75s;
}

#portifolio .projetos_main .card_projeto h2 {
  font-size: 18px;
  color: #272626;
}

.card_projeto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#main_sobre {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px;
  background-color: #b8f9b96f;
}

#main_sobre .img_main {
  background-color: #333;
  height: auto;
  width: 50%;
  border-radius: 20px;
}

#main_sobre .card_sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin: auto;
  height: 70vh;
}

#main_sobre .card_sobre .img_main {
  background: url(/IMG/cleidson.jpg) center;
  background-size: cover;
  height: 30rem;
  width: 20%;
}

#main_sobre .card_sobre .sobre {
  width: 32%;
}

#main_sobre .card_sobre .info_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  text-align: center;
  padding: 30px 30px;
}

#main_sobre .card_sobre button {
  border: none;
  padding: 15px 40px 15px 40px;
  background: radial-gradient(144.88% 144.88% at 50.04% -13.29%, #09E16B 0%, #14e58e 100%);
  border-radius: 9px;
  color: aliceblue;
  font-weight: 700;
  font-size: 20px;
}

#main_skills {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  padding: 80px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_skills .title {
  text-align: center;
  margin-bottom: 20px;
}

#main_skills .grid-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
  width: 100%;
  padding: 50px;
}

#main_skills .card1 {
  height: 150px;
  width: 200px;
  margin-bottom: 3em;
}

#main_skills .card-skills1 {
  background: url(/IMG/skills/c.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#main_skills .card-skills2 {
  background: url(/IMG/skills/css.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#main_skills .card-skills3 {
  background: url(/IMG/skills/html.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#main_skills .card-skills4 {
  background: url(/IMG/skills/js.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#main_skills .card-skills5 {
  background: url(/IMG/skills/sass.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#main_skills .card-skills6 {
  background: url(/IMG/skills/figma-2048.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#main_skills .card-skills7 {
  background: url(/IMG/skills/uxui.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#main_skills .card-skills7 {
  background: url(/IMG/skills/Notion_app_logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#main_skills .card1 {
  -webkit-transition: -webkit-transform .75s;
  transition: -webkit-transform .75s;
  transition: transform .75s;
  transition: transform .75s, -webkit-transform .75s;
}

#main_skills .card1:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.container-service {
  padding-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
  z-index: -1;
  padding-bottom: 40px;
}

.card-service {
  height: 400px;
  width: 300px;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: -webkit-transform .75s;
  transition: -webkit-transform .75s;
  transition: transform .75s;
  transition: transform .75s, -webkit-transform .75s;
}

.card-service:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icon1 {
  background: url(/IMG/skills/web-grid-alt.svg);
  height: 60px;
  width: 60px;
  position: absolute;
  top: 140px;
  left: 56px;
}

.icon2 {
  background: url(/IMG/skills/pen.svg);
  height: 60px;
  width: 60px;
  position: absolute;
  top: 140px;
  left: 56px;
}

.icon3 {
  background: url(/IMG/skills/arrow.svg);
  height: 60px;
  width: 60px;
  position: absolute;
  top: 140px;
  left: 56px;
}

.card-service a {
  color: #032b15;
}

.modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 150px;
  right: 500px;
  bottom: 150px;
  left: 500px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #09e16a;
  color: #fff;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal h2 {
  margin-bottom: 10px;
}

.modal p {
  margin-top: 10px;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
}

.fechar {
  position: absolute;
  width: 30px;
  right: 5px;
  top: 4px;
  text-align: center;
  line-height: 30px;
  margin-top: 5px;
  background: #ffffff;
  border-radius: 50%;
  font-size: 16px;
  color: #dbdbdb;
}

.tex1 {
  position: absolute;
  top: 220px;
  left: 60px;
}

.view {
  position: absolute;
  top: 320px;
  left: 60px;
}

#contact {
  height: 100vh;
  padding: 20px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  background-color: #09E16B;
  height: 60vh;
  width: 70%;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 7rem;
}

.new-proj {
  color: #ffffff;
  width: 60%;
  height: 48%;
  font-family: 'Montserrat', sans-serif;
}

.new-proj h1 {
  padding-bottom: 20px;
}

.new-proj p {
  padding-bottom: 40px;
  font-weight: 600;
}

.new-proj button {
  border: none;
  padding: 20px 40px 20px 40px;
  background-color: #00fd0d98;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.png-cleidson {
  background: url(/IMG/main.png);
  background-position: center;
  background-size: cover;
  background-position-y: 50px;
  height: 100%;
  width: 100%;
}

#foot {
  height: 40vh;
  background-color: #36e987;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
  margin-top: 7rem;
}

:root {
  --color-icon: #ffffff;
  --social-icon1: #e4405f;
  --social-icon2: #3b5999;
  --social-icon3: #e4405f;
  --social-icon4: #cd201f;
  --social-icon5: #0077B5;
}

.icons_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--bg);
}

.icon-list {
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-item {
  list-style: none;
}

.icon-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 3rem;
  text-decoration: none;
  color: var(--color-icon);
  width: 6rem;
  height: 6rem;
  -webkit-transition: .5s linear;
  transition: .5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;
}

.icon-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 6rem;
  height: 6rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background-color: #08be5a;
}

.icon-item:nth-child(2) a:hover:before {
  background: var(--social-icon2);
}

.icon-item:nth-child(3) a:hover:before {
  background: var(--social-icon3);
}

.icon-item:nth-child(4) a:hover:before {
  background-color: #0077B5;
}

.icon-item:nth-child(5) a:hover:before {
  background: var(--social-icon5);
}

/*Mobile*/
@media screen and (max-width: 910px) {
  .nav__list {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  #main__apr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2em;
  }
  #main__apr .perfil {
    margin-top: 30px;
  }
  #main__apr .icons {
    display: none;
  }
  #main__apr .apr {
    text-align: center;
  }
  #main__apr .apr_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main__apr .apr_img .perfil {
    height: auto;
    width: 12rem;
  }
  #main_sobre {
    margin-bottom: 35em;
    height: 100vh;
    background-color: white;
  }
  #main_sobre .card_sobre {
    display: -ms-grid;
    display: grid;
  }
  #main_sobre .card_sobre .img_main {
    height: 80vh;
    width: 100%;
    margin-bottom: 2rem;
  }
  #main_sobre .card_sobre .sobre {
    width: 90%;
    text-align: center;
  }
  #main_sobre .card_sobre button {
    margin-top: 20px;
  }
  #main_skills {
    margin-bottom: 40em;
  }
  #main_skills .card1 {
    height: 100px;
    width: 50px;
  }
  #service {
    display: none;
  }
  #portifolio {
    margin-bottom: 150rem;
  }
  .contact-container {
    display: -ms-grid;
    display: grid;
  }
  .contact-container .png-cleidson {
    display: none;
  }
  .contact-container .new-proj {
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 400px) {
  #main_skills {
    margin-bottom: 0em;
  }
  #portifolio {
    margin-bottom: 130rem;
  }
}

@media screen and (max-width: 1300px) {
  .modal {
    top: 110px;
    right: 400px;
    bottom: 150px;
    left: 400px;
  }
}

@media screen and (max-width: 1122px) {
  .modal {
    top: 110px;
    right: 300px;
    bottom: 150px;
    left: 300px;
  }
}

@media screen and (max-width: 937px) {
  .modal {
    top: 110px;
    right: 200px;
    bottom: 150px;
    left: 200px;
  }
}

@media screen and (max-width: 720px) {
  .modal {
    top: 110px;
    right: 90px;
    bottom: 150px;
    left: 90px;
  }
}

@media screen and (max-width: 1417px) {
  #main_sobre {
    margin-top: 50rem;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: absolute;
  top: 30px;
  left: 35px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #262525;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}
/*# sourceMappingURL=style.css.map */