@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
  }

.title {
  text-align: center;
}

h1 {
  font-size: 1.8rem;
}
p {
  font-size: 1.01rem;
}

.main_title {
  text-align: center;
  margin-bottom: 3rem;
}

a {
  color: rgb(32, 32, 32);
}

.btn_cv {
  cursor: pointer;
}

body {
  background-color: rgb(226, 226, 226);

      font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
}

.hamburger-menu {
    display: none;
}

/*----------------------------------------------------------*/


@mixin font_title {
    font-size: 2em
    font-weight bold;
}

@mixin sub_title {
    font-size: 25px;
    font-weight: 600;
    color: rgb(69, 68, 68);
}

@mixin sub_desc {
    font-weight: 400;
}

#container__nav {
  display: flex;
  justify-content: center;
  align-items: center;
    position: fixed;
    color: white;
    padding: 15px 60px;
    width: 100%;
    z-index: 1;
    
    .nav__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 91.5%;
        border-radius: 4px;
        padding: 20px;
        background: rgb(255, 255, 255);
        
        a {
            margin-left: 2.3em;
            color: black;
            font-weight: 500;
        }
        a:hover {
          color: #1a1f2e;
        }
    }
    .logo {
        font-size: 1.8rem;
    }
}

#main__apr {
  visibility: hidden;
}

#main__apr {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 20px;



        .perfil {
            height: 20rem;
            width: 100%;
            transition: transform .75s;
        }
        .perfil:hover {
          transform: scale(1.15);
        }
        .icons {
            display: flex;
            flex-direction: column;
            font-size: 2.2rem;
            gap: 0.4em;
            color: rgb(57, 57, 57);
        }
        .uil {
          transition: transform .75s;
          cursor: pointer;
          
        }
        .uil:hover {
          transform: scale(1.15);
          background-color: #09e16a;
          border-radius: 10px;
          color: white;
        }
        .apr p {
            margin-bottom: 30px;
            font-size: 1rem;
           

        }

        .apr {
          .inpi {
            background: linear-gradient(90deg, #0759ED 0%, #B216E9 14.84%, #FF4000 45.39%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
          }
        }
        
        .buttons {
          display: flex;
          gap: 24px;
          .button_contained {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            color: white;
            width: 134px;
            height: 42px;

            background: #1976D2;
            /* Elevation/2 */

            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            flex: none;
            order: 1;
            flex-grow: 0;
          }
          .button_outilined {
            box-sizing: border-box;

            /* Auto layout */

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            color: #1976D2;
            width: 194px;
            height: 42px;

            /* Light/Primary/Shades/50p

            Used for enabled state. The token represents 50% of the Primary/Main token
            */
            border: 1px solid rgba(25, 118, 210, 0.5);
            border-radius: 4px;

            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }
       
}

#portifolio {
  height: 150vh;
  width: 100%;
  margin-bottom: 5em;
    .title {
      margin-bottom: 50px;
    }
    .projetos_main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2em;
      width: 90%;
      height: 70vh;
      margin: 0 auto;
        .card_projeto {
         height: 500px;
         width: 400px;
         padding: 10px;
         transition: transform .20s;
         cursor: pointer;

         .img_proj {
           height: auto;
           width: 100%;
           border-radius: 10px;
           margin-bottom: 10px;
           transition: transform .75s;
         }
         h2 {
           font-size: 18px;
           color: rgb(39, 38, 38);
         }
        }
    }

}
.card_projeto:hover {
  transform: scale(1.1);
}
#main_sobre {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    .img_main {
        background-color: #333;
        height: auto;
        width: 50%;
        border-radius: 20px;
    }
    .card_sobre {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: 1140px;
        margin: auto;
        height: 70vh;
        .img_main {
          background: url(/IMG/cleidson.jpg) center;
          background-size: cover;
          height: 30rem;
          width: 30%;
        }
        .sobre {
          width: 32%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          text-align: justify;

        }
        .info_main {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2em;
          text-align: center;
          padding: 30px 30px;

        }
        
        .button_contained {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px;
          color: white;
          width: fill;
          height: 42px;

          background: #1976D2;
          /* Elevation/2 */

          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
          border-radius: 4px;
          flex: none;
          order: 1;
          flex-grow: 0;
        }
        
    }

}

#main_skills {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  padding: 80px 0px;
  display: grid;
  justify-content: center;
  align-items: center;

  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .grid-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    width: 100%;
    padding: 50px;
  }
  
  .card1 {
    height: 150px;
    width: 200px;
    margin-bottom: 3em;
  }
  
  .card-skills1 {
    background: url(/IMG/skills/c.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
  }
  
  .card-skills2 {
    background: url(/IMG/skills/css.png);
  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  
  }
  .card-skills3 {
    background: url(/IMG/skills/html.png);
  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  
  }
  .card-skills4 {
    background: url(/IMG/skills/js.png);
  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  
  }
  
  .card-skills5 {
    background: url(/IMG/skills/sass.png);
  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  
  }
  
  .card-skills6 {
    background: url(/IMG/skills/figma-2048.png);
  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .card-skills7 {
    background: url(/IMG/skills/uxui.png);
  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .card-skills8 {
    background: url(/IMG/skills/Notion_app_logo.png);
  
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  
}
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px;
}
.contact-container {
    
  display: flex;
   background-color: #2b2d2b;
   max-width: 1140px;
   max-height:550px;
   border-radius: 20px;
   margin: 0 auto;
}

.new-proj {
   color: #ffffff;
   padding: 40px; 
   min-width: fill;
   font-family: 'Montserrat', sans-serif;

}



.new-proj p {
   padding-bottom: 40px;
   font-weight: 600;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 16px;
  width: fill;
}

.button_outilined {
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 194px;
height: 42px;

/* Light/Primary/Shades/50p

Used for enabled state. The token represents 50% of the Primary/Main token
*/
border: 1px solid rgba(25, 118, 210, 0.5);
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
color: #1976D2;
}

.button_contained {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  color: white;
  width: 200px;
  height: 42px;

  background: #1976D2;
  /* Elevation/2 */

  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}


#foot {
  height: 40vh;
  background-color: #2b2d2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  color: white;
  
}

:root {
  --color-icon: #ffffff;  
  --social-icon1: #e4405f;
  --social-icon2: #3b5999;
  --social-icon3: #e4405f;
  --social-icon4: #cd201f;
  --social-icon5: #0077B5;  
}

.icons_main {
  display: flex;
  align-items: center;
  justify-content: center;  
  background: var(--bg);
}

.icon-list {
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}

.icon-item {
  list-style: none
}

.icon-link {  
  display: inline-flex;
  font-size: 3rem;  
  text-decoration: none;  
  color: var(--color-icon);
  width: 6rem;
  height: 6rem;   
  transition: .5s linear;
  position: relative;
  z-index: 1;
  margin: auto
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;    
}

.icon-link::before {  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 6rem;
  height: 6rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(.95, .32, .37, 1.21);
}
  
.icon-link:hover::before {  
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before { 
  background-color:#08be5a;
}

.icon-item:nth-child(2) a:hover:before { 
  background: var(--social-icon2); 
}

.icon-item:nth-child(3) a:hover:before { 
  background: var(--social-icon3); 
}

.icon-item:nth-child(4) a:hover:before { 
  background-color: #0077B5; 
}

.icon-item:nth-child(5) a:hover:before { 
  background: var(--social-icon5); 
}




















/*Mobile*/

@media screen and (max-width: 910px) {
    .nav__list {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }

    .nav__bar {
      width: 100%;
    }


    #main__apr{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 2em;
        .perfil {
            margin-top: 30px;
        }
        .icons {
            display: none;
        }
        .apr {
            text-align: center;
        }
        .apr_img {
            display: flex;
            justify-content: center;
            
            .perfil {
                height: auto;
                width: 12rem;
            }
        }
        
    }

    #main_sobre {
      margin-bottom: 35em;
      height: 100vh;
      background-color: rgb(255, 255, 255);
      .card_sobre{
        display: grid;
        .img_main {
          height: 80vh;
          width: 100%;
          margin-bottom: 2rem;
        }
        .sobre {
          width: 90%;
          text-align: center;
        }
        button {
          margin-top: 20px;
        }
      }
    }

    #main_skills {
      margin-bottom: 40em;
      .card1 {
        height: 100px;
        width: 50px;
      }
    }
    #service {
      display: none;
    }
    #portifolio {
      margin-bottom: 150rem;
    }
    .contact-container {
      display: grid;
      .png-cleidson {
        display: none;
      }
      .new-proj {
        margin-bottom: 200px;
      }
    }
  
}
@media screen and (max-width: 630px) {
#contact {
  padding: 20px;
}
}
@media screen and (max-width: 400px) {
  #main_skills {
    margin-bottom: 0em;
  }
  #portifolio {
    margin-bottom: 130rem;
  }

  
  
}

@media screen and (max-width: 480px)
{

  #main_sobre {
    .card_sobre {
      .sobre {
        width: fill;
      }
    }
  }

  #container__nav {
    padding: 0;
    .nav__bar {
      width: 100%;
      a {
        color: white;
      }
    }
  }
  .apr {
    .buttons {
      justify-content: center;
      align-items: center;

    }
  }

    #main_skills {
      margin-bottom: 10rem;
      height: 120vh;
      .title {
        text-align: center;
        width: fill;
      }
    }

  #contact {
    margin-bottom: 15rem;
  }
  .contact-container {
    
    max-height: 800px;

      .footer {
        .button_contained {
          width: fill;
        }
        .button_outilined {
          width: fill;
        }
      }

 }
}

@media screen and (max-width: 1300px) {
  .modal {
    top: 110px;
    right: 400px;
    bottom: 150px;
    left: 400px;
  }
}
@media screen and (max-width: 1122px) {
  .modal {
    top: 110px;
    right: 300px;
    bottom: 150px;
    left: 300px;
  }
}
@media screen and (max-width: 937px) {
  .modal {
    top: 110px;
    right: 200px;
    bottom: 150px;
    left: 200px;
  }
}
@media screen and (max-width: 720px) {
  .modal {
    top: 110px;
    right: 90px;
    bottom: 150px;
    left: 90px;
  }
}
@media screen and (max-width: 1417px) {
 #main_sobre {
   margin-top: 50rem;

 }
}




















#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: absolute;
    padding-top: 8px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(126, 118, 118);
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgb(37, 36, 36);
    box-shadow: 2px 2px 6px rgba(114, 112, 112, 0.4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #dfe9ee;
  }
